<div class="survey-detail-page">
  <div class="survey-header">
    <button class="back-btn" (click)="goBack()">← Back</button>
    <h1 class="survey-title">{{ survey?.title || (isLoading ? 'Loading Survey...' : 'Survey Detail') }}</h1>
  </div>

  <div *ngIf="!isLoading; else loadingSpinner">
    
    <div *ngIf="error" class="error-box">
      {{ error }}
    </div>

    <div *ngIf="survey" class="survey-container">
      <div class="survey-info-bar">
        <p><strong>Description:</strong> {{ survey.description }}</p>
        <p><strong>Ends:</strong> {{ formatDate(survey.endDate) }}</p>
      </div>

      <div class="questions-list">
        <div *ngFor="let question of survey.questions; let i = index" class="question-card">
          <h3>{{ i + 1 }}. {{ question.text }}</h3>

          <div *ngIf="question.type === 'MCQ'" class="options">
  <label *ngFor="let option of question.options" class="radio-label">
    <input type="radio" 
           [name]="'q' + question.questionId" 
           [value]="option.text" 
           (change)="updateAnswer(question.questionId, option.text)">
    <span>{{ option.text }}</span> </label>
</div>

          <div *ngIf="question.type === 'RATING'" class="rating">
            <label *ngFor="let r of [1,2,3,4,5]">
              <input type="radio" [name]="'q' + question.questionId" 
                     (change)="updateAnswer(question.questionId, r.toString())">
              {{ r }} ⭐
            </label>
          </div>

          <div *ngIf="question.type === 'TEXT'">
            <textarea class="text-ans" (input)="updateAnswer(question.questionId, $any($event.target).value)"></textarea>
          </div>
        </div>
      </div>

      <div class="footer-actions">
        <div style="color: #fbbf24; font-size: 12px; margin-bottom: 10px;">
            Debug: Answered {{ answers.size }} of {{ survey?.questions?.length }} questions.
        </div>

        <button class="submit-btn" 
            [disabled]="!areAllQuestionsAnswered() || isSubmitting || isDeadlinePassed()"
            (click)="submitSurvey()">
         {{ isSubmitting ? 'Sending...' : 'Submit Responses' }}
        </button>
      </div>
    </div>
  </div>

  <ng-template #loadingSpinner>
    <div class="loading-overlay">
      <div class="spinner"></div>
      <p>Loading Survey Questions...</p>
    </div>
  </ng-template>
</div>